.slideShowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  width: 500px;
  position: relative;
  transform: translateY(50%);
}

.slideShow {
  width: 100%;
  display: none;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.slideShow.active {
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slideShow img {
  width: 100%;
}

.navigateButton {
  position: absolute;
  width: 100%;
  top: 45%;
  display: flex;
  justify-content: space-between;
}

.prev {
  font-weight: 900;
  font-size: 30px;
  padding-left: 20px;
  cursor: pointer;
}

.next {
  font-weight: 900;
  font-size: 30px;
  padding-right: 20px;
  cursor: pointer;
}

.dottedNavigate {
  background-color: gray;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  box-sizing: border-box;
}

.dottedNavigate.active {
  background-color: aqua;
}

.dottedWrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 15px;
}
