.boardContainer {
  width: 500px;
  height: 500px;
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transform: translatey(50%);
}

.box {
  width: 140px;
  height: 140px;
  border: 1px solid black;
  font-size: 60px;
  text-align: center;
  /* padding: 10px; */
}
