.step {
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Steps-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stepperContainer {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.progess-line {
  position: absolute;
  height: 2px;
  background-color: rgb(163, 163, 216);
  top: 50%;
  /* width: 100%; */
  z-index: -1;
  transition: all 0.25s ease;
}

.active {
  background-color: rgb(163, 163, 216);
}

button:disabled {
  cursor: no-drop;
}
