input {
  margin-top: 20px;
  height: 40px;
  width: 400px;
  outline: none;
  padding-left: 10px;
  border: 2px solid gray;
  border-radius: 5px;
  font-weight: 700;
}

.eyeIcon {
  position: relative;
  right: 40px;
  cursor: pointer;
  box-sizing: border-box;
}
