.searchArea {
  height: 40px;
  min-width: 600px;
  border-radius: 10px;
  border: 1px solid rgb(224, 221, 221);
  outline: none;
  margin-top: 30px;
  padding-left: 10px;
  box-sizing: border-box;
  /* font-size: 15px;
  font-weight: 700; */
}

.heading {
  font-size: 30px;
  font-weight: 900;
  color: rgb(56, 72, 75);
  padding-top: 50px;
}

.container {
  background-color: rgb(202, 196, 196);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suggestionArea {
  width: 600px;
  height: 250px;
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
}
