button {
  border: none;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  margin: 5px;
  background-color: gray;
}

table {
  border-collapse: collapse;
}

thead {
  background-color: aqua;
  padding: 20px;
}

td,
th {
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: gray;
}
