.stepperContainer {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(50%, 50%);
}

.stepperWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: aqua;
  line-height: 2.5;
  margin-top: 30px;
}

.stepComponent {
  width: auto;
  height: auto;
  position: relative;
  top: 15%;
}