.container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

.slideShow {
  display: none;
}

.active {
  display: block;
}

.wrapper {
  margin-top: 200px;
}

.slideContainer {
  width: 400px;
  height: 300px;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -140px;
  padding: 15px;
  cursor: pointer;
}

button {
  margin: 10px;
  padding: 5px;
  width: 80px;
}

.dotWrapper {
  display: flex;
  row-gap: 10px;
  justify-content: space-evenly;
}

.dot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: antiquewhite;
}

.dot.active {
  background-color: aqua;
}
