body {
  margin: 0px;
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #333333;
  --heading-color: #444444;
  --nav-color: rgb(85, 83, 83);
}

[data-theme="dark"] {
  --bg-color: #333333;
  --text-color: #ffffff;
  --heading-color: #dddddd;
  --nav-color: gray;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  color: var(--heading-color);
}

nav {
  background-color: var(--nav-color);
  color: var(--text-color);
}

/* Link {
  color: var(--text-color);
} */

/* .wrapper {
  background-color: gray;
  color: white;
} */
