.container {
  border: 2px solid black;
  margin: 10px;
  border-radius: 5px;
  position: relative;
  text-align: start;
  min-width: 100%;
}

.container h2 {
  padding: 10px;
  font-size: large;
  font-weight: 700;
}

.container span {
  position: absolute;
  right: 20px;
  font-weight: 900;
  cursor: pointer;
}

.container p {
  padding: 0 0 5px 10px;
  font-weight: 500;
}

.faqHeading {
  font-size: 30px;
  font-weight: 700;
}
